.background-image {
    position: fixed;
    right:0;
    left:320px;
    height:100%;
    width:1046px;
    object-fit: c;
    margin-bottom:0;
    background:transparent;
    backdrop-filter:blur(200px);
    z-index:-1;
}

.section {
    padding:0;
    margin:0;
}




.main-section {
    display:flex;
    flex-direction:column;
    margin-left:320px;
}


.head {
    display:flex;
    justify-content:space-between;
    align-items: end;
    color:white;
    padding:32px 0;
    margin-left:25px;
    margin-right:25px;
}


.head h1 {
    font-family:Roboto;
    margin:0;
    font-weight:300;
    color:white;
    width:260px;
}





.subscribe {
    font-family:Roboto;
    color:rgb(73, 73, 253);
    text-decoration:none;
    transition: text-decoration 1.3s;
}

.subscribe:hover {
    text-decoration:underline;
    cursor: pointer;
}





.whole {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:16px;
    margin:25px;
}




.stats {
    height:380px;
    display:grid;
    justify-content: center;
    grid-template-columns:1fr 1fr;
    gap:16px;
}



.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    color:white;
    background-color:rgb(16, 16, 17);
    border-radius:8px;
    border:1px solid gray;
}



.number {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family:Roboto;
    font-weight:400;
    font-size:50px;
    padding:0;
    margin:0;
}






.text {
    display: flex;
    justify-content: center;
    width:55px;
    font-family:Roboto;
    font-weight:400;
    font-size:45px;
    padding:0;
    margin:0;
}

.info p{
    color:rgb(163, 162, 162);
    font-family:Roboto;
    font-weight:200;
    font-size:14px;
}


.description {
    border:1px solid gray;
    background-color:rgb(16, 16, 17);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 20px;
    border-radius:8px;
}

.header {
    padding:0;
    margin:0;
    width:360px;
    font-family:Roboto;
    font-weight:400;
    margin-bottom:12px;
    font-weight:300;
    color:white;
}



.description p{
    color:white;
    font-size:15px;
    font-weight:200;
    line-height:22px;
    margin-bottom:8px;
}

.description a{
    font-family:Roboto;
    text-decoration:none;
    transition:1.3s;
}


.description a:hover{
    text-decoration:underline;
    word-spacing:2px;
}







.featured-projects {
    border:1px solid gray;
    background-color:rgb(16, 16, 17);
    display:flex;
    flex-direction:column;
    align-items: center;
    border-radius:8px;
    transition:1.3s;
}


.featured-projects:hover .project-head{
    margin-top:40px;
    transition:1.3s;
}


.featured-projects:hover .a{
    margin-bottom:10px;
    transition:1.3s;
}




.project-head {
    padding:0;
    margin:0;
    font-family:Roboto;
    font-weight:300;
    color:white;
    margin-top:20px;
    margin-bottom:10px;
    transition:1.3s;
}

.a {
    margin-bottom:66px;
    position: relative;
    transition:1.3s;
}

.a a{
    font-family:Roboto;
    text-decoration:none;
    transition:1.3s;
}

.a a:hover{
    text-decoration:underline;
    word-spacing:6px;
}
















.computer {
    width:320px;
    margin:0;
    transition:1.3s;
}













.mentor {
    height:380px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border:1px solid gray;
    background-color:rgb(16, 16, 17);
    border-radius:8px;
}


.mentor-head {
    color:white;
    margin:0;
    font-family:Roboto;
    font-weight:500;
    font-size:38px;
    padding:0;
}


.mentor p{
    color:white;
    font-family:Roboto;
    font-weight:200;
    font-size:24px;
    padding:0;
    margin-top:8px;
}


.basebar {
    display:flex; 
    align-items: center;
    justify-content:center;
    height:69px;
    position:relative;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(17, 17, 17);
}





.link {
    color:#bbbbbb;
   text-decoration:none; 
   font-family:Roboto;
   font-weight:400;
   font-size:18px;
   margin:15px;
   transition:0.15s;
}

.link:hover {
    color:#e2e0e0;
    cursor: pointer;
}
