.side-bar {
    display:flex;
    flex-direction: column;
    position:fixed;
    top:0;
    bottom:0;
    width:320px;
    background-color:rgb(17, 17, 17);
    z-index:100;
}

.profile-container {
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:36px;
    margin-bottom:20px;
}
.profile-pic {
    height:100px;
    border-radius:50px;
    margin-bottom:8px;
}

.company-name {
    font-family:Bitcount;
    color:white;
    margin:0;
    padding:0;
}

.partner-name {
    font-family:Bungee;
    color:rgb(228, 228, 228);
    font-size:12px;
}








.home-container {
    display:flex;
    align-items: center;
    padding-left:76px;
    margin-bottom:28px;
}

.home-icon {
    height:24px;
}

.home-text {
    font-size:14px;
    color:#bbbbbb;
    margin-left:10px;
    transition:1.3s;
}

.home-text:hover {
    color:#e2e0e0;
    cursor: pointer;
    margin-left:20px;
}







