body {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
}


section {
    display:flex;
    align-items:center;
    flex-direction:column;
    border:1px solid black;
    border-radius:12px;
    height:500px;
    width:460px;
    padding-top:40px;
    background-color:wheat;
}


.image {
    height:50px;
    margin-bottom:4px;
}


.bank-name {
    font-family:Roboto;
    font-weight:500;
    font-size:24px;
    margin-bottom:40px;
}

.account-number {
    font-family:Roboto;
    font-size:22px;
    font-weight:500;
    margin-bottom:0;
}


.account-name {
    font-family:Roboto;
    font-size:30px;
    font-weight:500;
    margin-top:0;
    margin-bottom:40px;
}


.amount {
    font-family:Roboto;
    font-weight: 300;
}