body {
    display:flex;
    justify-content:center;
}



.background-image {
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}

@media (max-width: 674px) {
    .background-image {
        top:0;
        left:0;
        width:100%;
        z-index:-1;
    }
}

@media (min-width:675px) and (max-width:769px) {
    .background-image {
        top:0;
        left:0;
        z-index:-1;
    }
}

.back {
    color:white;
    text-decoration:none;
    position:fixed;
    top:30px;
    left:30px;
    font-size:20px;
}

main {
    position: absolute;
    top:40%;
    
}

.age {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.coming {
    font-family:Bungee;
    font-size:60px;
    color:white;
}

.info {
    font-family:Bitcount;
    font-size:32px;
    color:black;
}

