.header {
    height:60px;
    display:flex;
    justify-content:space-between;
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    border-bottom:1px solid black;
}


/*left Section*/

.left-section {
    position: relative;
    display:flex;
    align-content:center;
}

.brand-logo {
    height:60px;
    margin-left:10px;
}



/*Middle Section*/

.middle-section{
    display:flex;
    flex:1;
    align-items:center;
    justify-content:space-between;
    max-width:380px;
}

.middle-section  a {
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
    font-family:Gajraj one;
    font-size:14px;
    cursor: pointer;
}


.nav-container {
    display:flex;
    flex-direction:column;
    align-items:center;
}









/*Search Input Container*/

.search-container {
    display:flex;
    align-items:center;
    justify-content:center;
    height:60px;
    width:280px;
    background-color:red;
    position:fixed;
    z-index:-1;
}

.search-input {
 background-color:wheat;
}
.search-cont{
    z-index:1;
}




/*Cart Container*/

.cart-quantity {
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    background-color:rgb(128, 0, 0);
    height:20px;
    width:20px;
    font-size:12px;
    border-radius:11px;
    margin-top:-8px;
    pointer-events:none;
    opacity:0;
}

.cart-number {
    opacity:1;
}



/*right Section*/

.right-section {
    position: relative;
    display:flex;
    align-items:center;
}

.profile-pic {
    height:40px;
    border-radius:20px;
    margin-right:15px;
}