main {
    display:flex;
    justify-content: center;
    align-items:center;
}



/*Eighty Eight Writing Container*/


.eighty-eight-writing-container {
    display:flex;
    position:fixed;
    left:-8px;
    top:140px;
}

.eighty-eight-writing-image {
    height:350px;
    margin-left:-8px;
}








/*Product Grid*/

.products-grid {
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(5, 1fr);
    gap:30px;
    margin-left:120px;
    
}




@media (max-width: 580px) {
    .products-grid {
        grid-template-columns:repeat(1, 1fr);
        margin-left:0px;
    }

    .eighty-eight-writing-container {
        display:none;
    }
}


@media (min-width: 581px) and (max-width: 830px) {
    .products-grid {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (min-width: 831px) and (max-width: 1072px) {
    .products-grid {
        grid-template-columns:repeat(3, 1fr);
    }
}

@media (min-width: 1073px) and (max-width: 1315px) {
    .products-grid {
        grid-template-columns:repeat(4, 1fr);
    }
}










/*@media (min-width: 1000px) {
    .products-grid {
        grid-template-columns:1fr 1fr 1fr;
    }
        830
        1315
}*/






/*Product Container*/

.product-container {
    display:flex;
    flex-direction:column;
    width:212px;
    margin-bottom:30px;
}



/*Product Image*/

.product-image-container {
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.35);
    display:flex;
    justify-content:center;
    align-items:center;
    height:180px;
    width:212px;
    border-radius:14px;
    margin-bottom:12px;
}

.product-image {
    height:160px;
    padding-bottom:14px;
}



/*Product Name*/

.product-name {
    font-size:15px;
    font-weight:300;
    margin-bottom:4px;
}

/*Product Info*/

.product-info {
    font-size:14px;
    display:flex;
    justify-content:space-between;
    margin-bottom:4px;
}

/*Product Price container*/

.price-container {
    display:flex;
    align-items:center;
}

.naira-icon {
    height:18px;
}


/*Product Qunatity*/

.product-quantity-container {
    margin-bottom:10px;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.product-quantity {
    height:20px;
    width:36px;
    background-color:rgb(228, 227, 227);
    border-radius:4px;
    border:1px rgb(145, 144, 144) solid;
    box-shadow:0px 0px 4px rgba(0,0,0,0.35);
    transition:background-color 0.30s, color 0.30s;
}

.product-quantity:hover {
    background-color:black;
    color:rgb(145, 144, 144);
}


/*Product Added to Animation*/

.check-mark {
    height:16px;
    margin-right:2px;
}


.added-to-cart {
    display: flex;
    align-items:center;
    color:rgb(128, 0, 0);
    font-size:14px;
    transition:0.40s;
    opacity:0;
}

.added-to-cart-visible {
    opacity:1;
    
}






/*Product Button*/

.btn-container {
    display:flex;
    justify-content:center;
}

.add-to-cart-btn {
    height:36px;
    width:176px;
    border:none;
    border-radius:26px;
    background-color:rgb(128, 0, 0);
    color:white;
    transition: background-color 0.50s, color 0.50s;
}

.add-to-cart-btn:hover {
    border:2px rgb(128, 0, 0) solid;
    background-color:white;
    color:rgb(128, 0, 0);
    cursor: pointer;
}

.add-to-cart-btn:active {
    background-color:rgb(128, 0, 0);
    color:white;
}

 
