/*main*/

main {
    margin-top:90px;
}


/*body*/

body {
    padding:0px;
    margin:0;
}

/*Paragraph*/



/*div*/
div {
    font-family:Gajraj One;
}


/*selected*/
select {
    font-family:Gajraj One;
}


/*button*/
button {
    font-family:Gajraj One;
}