.sidebar {
    display:flex;
    align-items:center;
    flex-direction: column;
    width:320px;
    background-color:rgb(16, 16, 17);
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:1000;
    transform:none;
}


.contain {
    position: relative;
}

.company-logo {
    position: absolute;
    top:-15px;
    right:-5px;
}

.company-logo img {
    height:30px;
    border:3px solid rgb(16, 16, 17);
    border-radius:100%;
}


.header {
    display:none;
}

@media (min-width:300px) and (max-width:674px ) {
    .header {
        display:flex;
        justify-content:space-between;
        align-items:center;
        background-color:rgb(16, 16, 17);
        position: fixed;
        top:0;
        left:0;
        right:0;
        height:87px;
        z-index:999;
        transition:0.35s ease-out;
        padding:0px 20px;
        border-bottom:1px solid rgb(217, 217, 217);
    }

    .hey {
        transform: translateY(-100%);
        transition:0.35s;
    }

    .profile-pic {
        border-radius:60px;
        height:56px;
    }


    .sidebar {
        display:flex;
        align-items:center;
        flex-direction:column;
        width:80%;
        background-color:rgb(16, 16, 17);
        max-width:220px;
        transform:translateX(-100%);
        transition:0.35s ease-out;
        padding:30px 10px;
        z-index:1000;
    }


    .close-btn {
        display: block;
        position: absolute;
        top:15px;
        right: 15px;
        border:1px solid white;
        border-radius:6px;
        background-color:transparent;
        height:36px;
        transition:background-color 0.30s;
    }

    .close-btn:hover {
        background-color:rgb(109, 109, 109);
    }


    




    
    .hamburger-container {
        display:flex;
        align-items:center;
        justify-content:center;
        height:35px;
        width:35px;
        cursor: pointer;
        background-color:transparent;
        border:1px solid white;
        border-radius:3px;
        transition:0.30s;
    }

    .hamburger-container:hover {
        background-color:rgb(126, 126, 126);
    }

    .hamburger {
        height:24px;
    }


    .me {
        top:0;
        left:0;
        bottom:0;
        width:450px;
        transition:0.35s;
        transform:translateX(0);
    }

}

@media (min-width:675px) and (max-width:769px) {

    .sidebar {
        display:flex;
        align-items:center;
        flex-direction:column;
        width:80%;
        background-color:rgb(16, 16, 17);
        max-width:220px;
    }


    .close-btn {
        display:none;
    }
}


@media (min-width:770px) and (max-width:1400px) {
    .close-btn {
        display:none;
    }
}







.profile-side {
    border-radius:44px;
}






.profile-container {
    display:flex;
    align-items:center;
    flex-direction:column;
    margin-top:30px;
}

.profile-container div {
    display:flex;
    align-items:center;
    flex-direction: column;
    margin-top:8px;
}


.company-name {
    font-family:Bitcount;
    color:white;
}
.partner-name {
    font-family:Bungee;
    color:rgb(228, 228, 228);
    font-size:12px;
}





.nav-bar {
    margin-top:40px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.nav-container {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:15px;
    cursor: pointer;
    transition: opacity 0.30s ease, width 0.30s ease; 
}

.nav-container:hover .nav-line {
    opacity:1;
    width:80%;
}





.nav {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ine {
    height:1px;
    width:80%;
    background-color:rgb(187, 187, 187);
}

.nav-name {
    font-size: 18px;
    text-decoration:none;
    color:white;
}
@media (max-width: 768px) {
    .nav-name {
        font-size:16px;
    }
}
.nav-images {
    height:24px;
    margin-right:8px;
    color:rgb(126, 126, 126);
}

.nav-line {
    height:1px;
    width:0px;
    background-color:rgb(187, 187, 187);
    transition:width 0.45s ease-in-out;
}

.active {
    opacity:1;
    width:80%;
}



