.header {
    height:60px;
    display:flex;
    justify-content:space-between;
    background-color:white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    border-bottom:1px solid black;
}



/*Left Section*/

.left-section {
    position: relative;
    display:flex;
    align-content:center;
}

.brand-logo {
    height:60px;
    margin-left:10px;
}




/*Middle Section*/

.middle-section{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.middle-section div {
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
    font-family:Gajraj one;
    font-size:26px;
    cursor: pointer;
}

/*Middle Section*/

.item-header {
    color:rgb(128, 0, 0);
    margin-left:6px;
}

@media (max-width: 580px) {
    .middle-section div {
        font-size:20px;
    }
}


@media (min-width: 581px) and (max-width: 830px) {
    .middle-section div {
        font-size:20px;
    }
}



/*Right Section*/

.right-section {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:44px;
}


.checkout-lock-icon {
    height:21px;
}






/*Main Section*/



/*Order Title*/

.order-title {
    font-size:26px;
    margin-left:35px;
    margin-top:-16px;
}




section {
    margin-top:20px;
}









/*Product OrderContainer*/


.product-grid {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:400px;
    width:560px;
    margin-top:8px;
    margin-left:120px;
}

@media (max-width: 580px) {
    .product-grid {
        width:60%;
        margin-left:10px;
    }
}


@media (min-width: 581px) and (max-width: 830px) {
    .product-grid {
        margin-left:20px;
    }
}

@media (min-width: 831px) and (max-width: 1072px) {
    .product-grid {
        margin-left:0px;
    }
}

@media (min-width: 1073px) and (max-width: 1315px) {
    .product-grid {
        margin-left:0px;
    }
}



.product-container {
    display:flex;
    align-items:center;
    height:180px;
    border-radius:20px;
    background-color:white;
    border:none;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.35);
    margin-bottom:35px;
}
@media (max-width: 580px) {

    .product-container {
        flex-direction:column;
        width:300px;
        margin-bottom:180px;
    }
}


@media (min-width: 581px) and (max-width: 830px) {

    /* .product-container {
        flex-direction:column;
        width:300px;
        margin-bottom:180px;
    } */
}

@media (min-width: 831px) and (max-width: 1072px) {
}

@media (min-width: 1073px) and (max-width: 1315px) {
}

/*Product Order Image Container*/

.product-image-container {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:45px;
    margin-left:30px;
}

.product-image {
    height:180px;
    padding-bottom:20px;
}



/*Product Order Information Container*/

.product-info {
    display:flex;
    flex-direction:column;
    height:130px;
}


.product-name {
    margin-bottom:3px;
}


.product-price {
    display:flex;
    align-items:center;
    margin-bottom:20px;
    font-size:15px;
}


/*Product Quantity and Update Container*/

.quantity-update-container {
    display:flex;
    align-items: center;
    gap:14px;
    margin-bottom:8px;
}




.product-quantity {
    font-size:14px;
}


.update {
    font-family:roboto;
    font-size:14px;
    color:blue;
    cursor:pointer;
    text-decoration:none;
}




.remove-btn {
    height:32px;
    border:none;
    border-radius:26px;
    background-color:rgb(128, 0, 0);
    color:white;
    transition: background-color 0.50s, color 0.50s;
}


.remove-btn:hover {
    border:2px rgb(128, 0, 0) solid;
    background-color:white;
    color:rgb(128, 0, 0);
    cursor: pointer;
}

.remove-btn:active {
    background-color:rgb(128, 0, 0);
    color:white;
}











/*Order Details Container*/

.order-summary-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    position:fixed;
    right:120px;
    top:20%;
    z-index:1;
}

.order-summary {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:white;
    border:none;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.35);
    border-radius:20px;
    height:360px;
    width:480px;
    margin-bottom:35px;
}


@media (max-width: 580px) {
    .order-summary-container {
        right:-10px;
        position:relative;
        z-index:-100;
        margin-bottom:40px;
    }
    .order-summary {
        width:99%;
    }

    section {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}


@media (min-width: 581px) and (max-width: 830px) {
    
    .order-summary-container {
        right:-10px;
        position:relative;
        z-index:-100;
        margin-bottom:40px;
    }
    .order-summary {
        width:130%;
    }

    section {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

@media (min-width: 831px) and (max-width: 1072px) {
    .order-summary-container {
        right:-10px;
        position:relative;
        z-index:-100;
        margin-bottom:40px;
    }
    .order-summary {
        width:130%;
    }

    section {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

@media (min-width: 1073px) and (max-width: 1315px) {
    .order-summary-container {
        right:-10px;
        position:relative;
        z-index:-100;
        margin-bottom:40px;
    }
    .order-summary {
        width:130%;
    }

    section {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}




.summary-writing {
    font-size:22px;
    margin-bottom:30px;
}


.order-info{
    width:360px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:25px;
}





@media (max-width: 580px) {
    .order-info {
        width:280px;
    }

}


@media (min-width: 581px) and (max-width: 830px) {
}

@media (min-width: 831px) and (max-width: 1072px) {
}

@media (min-width: 1073px) and (max-width: 1315px) {
}






/*Order Price Container*/

.price-container {
    display:flex;
    align-items:center;
    justify-content:center;
}


 .naira-icon {
    height:18px;
 }


 .naira-cost-icon {
    height:32px;
    margin-bottom:-4px;
 }


 .line {
    border:2px solid black;
    width:380px;
    border-radius:8px;
    margin-bottom:10px;
 }

 @media (max-width: 580px) {

    .line {
        width:270px;
    }
}




 /*Order Summary Total Cost*/

 .total-writing {
    color:rgb(128, 0, 0);
 }

 .order-total-cost {
    width:320px;
    font-size:26px;
    display:flex;
    align-items:center;
    justify-content:space-between;
 }

 @media (max-width: 580px) {
    .order-total-cost {
        font-size:20px;
        width:280px;
    }
}








/*Order Summary Button*/

.place-order-btn {
    height:36px;
    width:400px;
    font-size:16px;
    color:white;
    background-color:rgb(128, 0, 0);
    border:none;
    border-radius:20px;
    transition: background-color 0.50s, color 0.50s;
}

@media (max-width: 580px) {
    .place-order-btn {
        width:300px;
    }
}



.place-order-btn:hover {
    color:rgb(128, 0, 0);
    background-color:white;
    border:2px rgb(128, 0, 0) solid;
    cursor: pointer;
}

.place-order-btn:active {
    background-color:rgb(128, 0, 0);
    color:white;
}








